#page {
    padding-top: 60px;
}
.center_t{
    padding-left:10px;
}
.container1 {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
    margin-top: 20px;
    margin-left:25%;
}
.footer_my {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 60px;
}
.login_bg{
    background-image: url('/css/background.jpg');
    width: 100%;
    height: 100%;
}
.er{
    margin-left:40.5%;
    width: 220px;
}
body{
    background-image: url('/css/fon.jpg');
    -moz-background-size: 100%;
    -webkit-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.viewholder{
    margin-top:10px;
    width: 100%;
    border: 2px solid black;
    opacity: 0.85;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #f0eaf5;

}
.tableholder{
    overflow: auto;
    text-align: center;
}
#evaluations-grid table td, #evaluations-grid table th{
    text-align: center !important;    
}